In [2]:
##Insaid Assignment

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# Loading data set
df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/1/INSAID/Fraud.csv")
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [5]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [6]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [7]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [9]:
# checking the number of missing values in each column
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [10]:
# let's check the distribution of legit transactions & fraudlent transactions in "isFraud" column
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [11]:
# let's check the distribution of legit transactions & fraudlent transactions in "isFlaggedFraud" column
df['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [12]:
df[50:500]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
50,1,PAYMENT,2641.47,C460570271,23053.00,20411.53,M1653361344,0.00,0.00,0,0
51,1,CASH_OUT,23261.30,C2072313080,20411.53,0.00,C2001112025,25742.00,0.00,0,0
52,1,PAYMENT,2330.64,C816944408,203543.00,201212.36,M909132503,0.00,0.00,0,0
53,1,PAYMENT,1614.64,C912966811,41276.00,39661.36,M1792384402,0.00,0.00,0,0
54,1,PAYMENT,9164.71,C1458621573,47235.77,38071.06,M1658980982,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
495,1,CASH_IN,160347.32,C1972143064,7965270.68,8125617.99,C33524623,724867.22,1517262.16,0,0
496,1,CASH_IN,289272.75,C312168418,8125617.99,8414890.75,C75457651,413976.60,31469.78,0,0
497,1,CASH_IN,63189.26,C95369743,8414890.75,8478080.00,C1860513229,101925.00,0.00,0,0
498,1,CASH_IN,196725.32,C26928827,8478080.00,8674805.32,C451111351,2248012.90,3940085.21,0,0
499,1,PAYMENT,5882.32,C278476563,10252.00,4369.68,M1479909053,0.00,0.00,0,0

In [13]:
df.shape

(6362620, 11)

In [14]:
# as per the data dictionary there is no information for the customer that starts with 'M', let's remove that
new_df = df[df.newbalanceDest != 0]

In [17]:
new_df.shape+

(3923187, 11)

In [18]:
new_df2 = df[df.oldbalanceDest != 0]

In [19]:
new_df2.shape
# after removing the values 0 from the both the columns our dataset is

(3658232, 11)

In [20]:
# let's again check the distribution of legit transactios & fraudlent transactions in "isFraud" column
new_df2['isFraud'].value_counts()

0    3655370
1       2862
Name: isFraud, dtype: int64

In [21]:
# let's again check the distribution of legit transactios & fraudlent transactions in "isFlaggedFraud" column
new_df2['isFlaggedFraud'].value_counts()

0    3658232
Name: isFlaggedFraud, dtype: int64

In [27]:
new_df2.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,3.658232e+06,3.658232e+06,3.658232e+06,3.658232e+06,3.658232e+06,3.658232e+06,3.658232e+06,3658232.0
mean,2.417810e+02,2.643358e+05,1.397539e+06,1.437178e+06,1.914407e+06,2.096493e+06,7.823451e-04,0.0
std,1.417248e+02,7.468772e+05,3.702295e+06,3.746680e+06,4.305624e+06,4.644432e+06,2.795949e-02,0.0
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,0.0
25%,1.550000e+02,7.524678e+04,0.000000e+00,0.000000e+00,2.710358e+05,3.301274e+05,0.000000e+00,0.0
50%,2.370000e+02,1.576997e+05,1.463300e+04,0.000000e+00,7.361186e+05,8.701836e+05,0.000000e+00,0.0
75%,3.330000e+02,2.770196e+05,2.858823e+05,3.727973e+05,1.997617e+06,2.221882e+06,0.000000e+00,0.0
max,7.430000e+02,9.244552e+07,4.381886e+07,4.368662e+07,3.560159e+08,3.561793e+08,1.000000e+00,0.0

In [30]:
#let's check the unique values in "isFlaggedFraud" column
new_df2.isFlaggedFraud.unique()

array([0], dtype=int64)

In [32]:
# let's remove the "isFlaggedFraud" column and train our model by considering "isFraud" column
# so that our model would give a good prediction
new_df3 = new_df2.drop('isFlaggedFraud', axis=1)

In [33]:
new_df3.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.00,1
9,1,DEBIT,5337.77,C712410124,41720.0,36382.23,C195600860,41898.0,40348.79,0
10,1,DEBIT,9644.94,C1900366749,4465.0,0.00,C997608398,10845.0,157982.12,0
15,1,CASH_OUT,229133.94,C905080434,15325.0,0.00,C476402209,5083.0,51513.44,0
19,1,TRANSFER,215310.30,C1670993182,705.0,0.00,C1100439041,22425.0,0.00,0

In [34]:
new_df3.shape

(3658232, 10)

In [35]:
new_df3['isFraud'].value_counts()

0    3655370
1       2862
Name: isFraud, dtype: int64

In [36]:
# let's seperate the values
legit = new_df3[new_df3.isFraud == 0]
fraud = new_df3[new_df3.isFraud == 1]

In [37]:
print(legit.shape)
print(fraud.shape)

(3655370, 10)
(2862, 10)

In [38]:
# let's randomnly pick values which has 0 from "isFraud" column and equal it to the number of value equal to 1 then train our model
legit_sample = legit.sample(n=2862)

In [39]:
legit_sample.shape

(2862, 10)

In [40]:
# let's concat both the dataframe
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [41]:
new_dataset.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
5640587,396,TRANSFER,1894078.62,C2079640197,239.0,0.0,C1502797600,88645.37,1982723.98,0
1692199,159,CASH_IN,146265.10,C811330147,51374.0,197639.1,C382329720,11649219.90,11502954.80,0
4249074,306,CASH_OUT,296713.54,C1647423343,156.0,0.0,C1145539290,43414.90,340128.44,0
2447545,203,CASH_OUT,44928.99,C1964978229,0.0,0.0,C379048791,3649506.74,3694435.72,0
1490916,142,TRANSFER,185173.32,C1710697634,0.0,0.0,C499589857,192389.62,377562.93,0

In [42]:
new_dataset.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
6362609,742,CASH_OUT,258355.42,C1113162093,258355.42,0.0,C797688696,25176.67,283532.09,1
6362611,742,CASH_OUT,63416.99,C994950684,63416.99,0.0,C1662241365,276433.18,339850.17,1
6362613,743,CASH_OUT,1258818.82,C1436118706,1258818.82,0.0,C1240760502,503464.50,1762283.33,1
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1

In [43]:
new_dataset['isFraud'].value_counts()

0    2862
1    2862
Name: isFraud, dtype: int64

In [44]:
new_dataset.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
isFraud,,,,,,
0,237.317959,2.719347e+05,1.360573e+06,1.400042e+06,1.877865e+06,2.067433e+06
1,364.036688,1.429399e+06,1.427447e+06,2.591493e+02,1.561818e+06,3.002371e+06

In [47]:
new_df3.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
isFraud,,,,,,
0,241.685321,2.634236e+05,1.397515e+06,1.438303e+06,1.914683e+06,2.095784e+06
1,364.036688,1.429399e+06,1.427447e+06,2.591493e+02,1.561818e+06,3.002371e+06

In [50]:
# let's start train our model by splitting the data into features and targets
x = new_dataset.drop(columns='isFraud', axis=1)
y = new_dataset['isFraud']

In [51]:
print(x)

         step      type      amount     nameOrig  oldbalanceOrg  \
5640587   396  TRANSFER  1894078.62  C2079640197         239.00
1692199   159   CASH_IN   146265.10   C811330147       51374.00
4249074   306  CASH_OUT   296713.54  C1647423343         156.00
2447545   203  CASH_OUT    44928.99  C1964978229           0.00
1490916   142  TRANSFER   185173.32  C1710697634           0.00
...       ...       ...         ...          ...            ...
6362609   742  CASH_OUT   258355.42  C1113162093      258355.42
6362611   742  CASH_OUT    63416.99   C994950684       63416.99
6362613   743  CASH_OUT  1258818.82  C1436118706     1258818.82
6362617   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362619   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest
5640587             0.0  C1502797600        88645.37      1982723.98
1692199        197639.1   C382329720     11649219.90     11502954.80
4249074             0.0  C1145539290        43414.90       340128.44
2447545             0.0   C379048791      3649506.74      3694435.72
1490916             0.0   C499589857       192389.62       377562.93
...                 ...          ...             ...             ...
6362609             0.0   C797688696        25176.67       283532.09
6362611             0.0  C1662241365       276433.18       339850.17
6362613             0.0  C1240760502       503464.50      1762283.33
6362617             0.0  C1365125890        68488.84      6379898.11
6362619             0.0   C873221189      6510099.11      7360101.63

[5724 rows x 9 columns]

In [52]:
print(y)

5640587    0
1692199    0
4249074    0
2447545    0
1490916    0
          ..
6362609    1
6362611    1
6362613    1
6362617    1
6362619    1
Name: isFraud, Length: 5724, dtype: int64

In [53]:
# wsplitting our data into training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [54]:
print(x.shape, x_train.shape, x_test.shape)

(5724, 9) (4579, 9) (1145, 9)

In [55]:
# Model Traning using Logistic regression
# let's train our model using training data
model = LogisticRegression()

### error starting point

In [61]:
#model.fit(x_train, x_test)

In [59]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5724 entries, 5640587 to 6362619
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            5724 non-null   int64
 1   type            5724 non-null   object
 2   amount          5724 non-null   float64
 3   nameOrig        5724 non-null   object
 4   oldbalanceOrg   5724 non-null   float64
 5   newbalanceOrig  5724 non-null   float64
 6   nameDest        5724 non-null   object
 7   oldbalanceDest  5724 non-null   float64
 8   newbalanceDest  5724 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 447.2+ KB

In [66]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5724 entries, 5640587 to 6362619
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            5724 non-null   int64
 1   type            5724 non-null   object
 2   amount          5724 non-null   float64
 3   nameOrig        5724 non-null   object
 4   oldbalanceOrg   5724 non-null   float64
 5   newbalanceOrig  5724 non-null   float64
 6   nameDest        5724 non-null   object
 7   oldbalanceDest  5724 non-null   float64
 8   newbalanceDest  5724 non-null   float64
 9   isFraud         5724 non-null   int64
dtypes: float64(5), int64(2), object(3)
memory usage: 491.9+ KB

In [68]:
#new_dataset['type'] = new_dataset['type'].astype(float)

In [70]:
#df['points'] = df['points'].astype(float)

### Unable to convert object to float hence we'll remove it

In [72]:
# let's drop object columns
x = x.drop(['type', 'nameOrig', 'nameDest'], axis=1)

In [73]:
x.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
5640587,396,1894078.62,239.0,0.0,88645.37,1982723.98
1692199,159,146265.10,51374.0,197639.1,11649219.90,11502954.80
4249074,306,296713.54,156.0,0.0,43414.90,340128.44
2447545,203,44928.99,0.0,0.0,3649506.74,3694435.72
1490916,142,185173.32,0.0,0.0,192389.62,377562.93

In [75]:
X = x # as we already assigned the value of x
Y = y # as we already assigned the value of y

In [77]:
# wsplitting our data into training and testing dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [78]:
print(X.shape, X_train.shape, X_test.shape)

(5724, 6) (4579, 6) (1145, 6)

In [79]:
# Model Traning using Logistic regression
# let's train our model using training data
model = LogisticRegression()

In [80]:
model.fit(X_train, Y_train)

LogisticRegression()

In [81]:
# model evaluation
# accuracy score

# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [82]:
print('Accuracy on Training Data: ', training_data_accuracy)

Accuracy on Training Data:  0.979253112033195

In [83]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [84]:
print('Accuracy on Test Data: ', test_data_accuracy)

Accuracy on Test Data:  0.9842794759825327